<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Summary</th>
      <th>Body</th>
      <th>Image</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= sanitize post.title %></td>
        <td><%= post.url %></td>
        <td><%= sanitize post.summary %></td>
        <td><%= sanitize post.body %></td>
        <td><%= post.image %></td>
        <td><%= post.active %></td>
        <td><%= link_to 'Show', post_path(uuid: post.uuid) %></td>
        <td><%= link_to 'Edit', edit_post_path(uuid: post.uuid) %></td>
        <td><%= link_to 'Destroy', post_path(uuid: post.uuid), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
