<!DOCTYPE html>
<html>
  <head>
    <title>TSB Properties</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="apple-touch-icon" sizes="180x180" href="<%=asset_url "favicon/apple-touch-icon.png" %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%=asset_url "favicon/favicon-32x32.png" %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%=asset_url "favicon/favicon-16x16.png" %>">
    <link rel="manifest" href="<%=asset_url "favicon/site.webmanifest" %>">

  </head>

  <body id="<%= controller.controller_name %>" class="<%= controller.action_name %> <%= "show-sidebar" if @show_sidebar.present? %>">
    <% if @show_sidebar.nil? %>

      <header>
        <%= render "layouts/nav/public"%>
      </header>

      <%= yield %>
      <% else %>
        <%= render "layouts/nav/dashboard"%>

          <div class="container-fluid">
            <div class="row">
               <%= render "layouts/nav/sidebar" %>
               <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-4">
                 <%= yield %>
              </main>
            </div>
          </div>
      <% end %>

      <%= render 'layouts/footer'%>


      <p id="notification"><%= flash_notifications %></p>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script>feather.replace()</script>
  </body>
</html>
